<h1 class="mt-5">レシピ一覧</h1>

<div class="card col-sm-3 pl-0 pr-0 mt-5" >
  <% @recipes.each do |recipe|%>
    <%= image_tag recipe.recipe_image.url, class: "bd-placeholder-img card-img-top recipe_icon" %>
    <div class="card-body">
      <h5 class="card-title font-weight-bold"><%= recipe.menu %></h5>
      <p class="card-text">
        <div class="mr-3">タンパク質：<%= recipe.p %>g</div>
        <div class="mr-3">脂質：<%= recipe.f %>g</div>
        <div>炭水化物：<%= recipe.c %>g</div>
      </p>
      <%= link_to "レシピを見る", recipe_path(recipe), class: "btn btn-primary mr-2" %>
      <% if current_user && current_user.id == recipe.user_id %>
        <%= link_to "削除", recipe_path(recipe), method: :delete, class: "btn btn-danger mr-2" %>
      <% end %>
      <% if current_user %>
        <%= recipe.likes.count %>
        <% if current_user.already_liked?(recipe) %>
          <%= link_to recipe_likes_path(recipe), method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to recipe_likes_path(recipe), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>