<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
    　<%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :profile, '自己紹介文' %>
        <%= f.text_area :profile, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :image, 'プロフィール画像' %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>

      <%= f.submit '更新する', class: 'btn btn-primary btn-block' %>
      <%= link_to 'ユーザー詳細画面へ戻る', user_path(@user) %>
    <% end %>
  </div>
</div>